<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
	<meta charset="utf-8" />
	<title>${config.corporateName!} | ${title!}</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="${config.description!}" name="description" />
	<meta content="${config.author!}" name="author" />
	<meta content="${config.keyWords!}" name="keywords" />
	<link rel="shortcut icon" href="${config.resourcePath!}/image/favicon.ico" />
	<!-- BEGIN GLOBAL MANDATORY STYLES -->
	<link href="${config.resourcePath!}/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
	<link href="${config.resourcePath!}/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>
	<link href="${config.resourcePath!}/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
	<link href="${config.resourcePath!}/css/style-metro.css" rel="stylesheet" type="text/css"/>
	<link href="${config.resourcePath!}/css/style.css" rel="stylesheet" type="text/css"/>
	<link href="${config.resourcePath!}/css/style-responsive.css" rel="stylesheet" type="text/css"/>
	<link href="${config.resourcePath!}/css/default.css" rel="stylesheet" type="text/css" id="style_color"/>
	<link href="${config.resourcePath!}/css/uniform.default.css" rel="stylesheet" type="text/css"/>
	<!-- END GLOBAL MANDATORY STYLES -->
	<!-- BEGIN PAGE LEVEL STYLES -->
	<link href="${config.resourcePath!}/css/bootstrap-fileupload.css" rel="stylesheet" type="text/css" />
	<link href="${config.resourcePath!}/css/chosen.css" rel="stylesheet" type="text/css" />
	<link href="${config.resourcePath!}/css/profile.css" rel="stylesheet" type="text/css" />
	<link href="${config.resourcePath!}/css/jquery.gritter.css" rel="stylesheet" type="text/css"/>
	<!-- END PAGE LEVEL STYLES -->
</head>
<body class="page-header-fixed">
	<!--:include("/WEB-INF/views/common/header.html"){}-->
	<div class="page-container row-fluid">
		<!--:include("/WEB-INF/views/common/sidebar_menu.html"){}-->
		<div class="page-content">
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span12">
						<h3 class="page-title">
							用户管理 <small>我的资料</small>
						</h3>
						<ul class="breadcrumb">
							<li>
								<i class="icon-home"></i>
								<a href="/">Home</a> 
								<i class="icon-angle-right"></i>
							</li>
							<li>
								<a href="javascript:;">用户管理</a>
								<i class="icon-angle-right"></i>
							</li>
							<li><a href="">我的资料</a></li>				
						</ul>
					</div>
				</div>
				<div class="row-fluid profile">
					<div class="span12">
						<div class="portlet-body form">
							<div class="span3">
								<ul class="ver-inline-menu tabbable margin-bottom-10">
									<li class="active"><a data-toggle="tab" href="#tab_1-1"><i class="icon-cog"></i>我的信息</a><span class="after"></span></li>
									<li class=""><a data-toggle="tab" href="#tab_2-2"><i class="icon-picture"></i>形象照设置</a></li>
									<li class=""><a data-toggle="tab" href="#tab_3-3"><i class="icon-lock"></i>修改密码</a></li>
								</ul>
							</div>
							<div class="span9">
								<div class="tab-content">
									<div id="tab_1-1" class="tab-pane active">
										<div style="height: auto;" id="accordion1-1" class="accordion collapse">
											<form action="updateAccount.htm" method="POST" id="persionalInfoFrom">
												<div class="control-group">
													<label class="control-label" for="username">用户名</label>
													<div class="controls">
														<input type="text" placeholder="用户名" class="m-wrap span8" name="username" id="username" value="${account.username!}" disabled/>
													</div>
												</div>
												<div class="control-group">
													<label class="control-label" for="nickname">呢称</label>
													<div class="controls">
														<input type="text" placeholder="呢称" class="m-wrap span8" name="nickname" id="nickname" value="${account.nickname!}" autocomplete="off"/>
													</div>
												</div>
												<div class="control-group ${(account.mobileState==1||!isEmpty(account.mobile))?'':'error'}">
													<label class="control-label" for="mobile">手机号码</label>
													<div class="controls">
														<input type="text" id="mobile" name="mobile" class="m-wrap span8" placeholder="手机号码" autocomplete="off" value="${account.mobile!}">
														<span class="help-block">${isEmpty(account.mobile)?'请输入您的手机':account.mobileState==1?'<a>点击</a>修改绑定手机.':'未验证,请先<a href="javascript:;">获取</a>手机验证码进行验证'}.</span>
													</div>
												</div>
												<div class="control-group">
													<label class="control-label" for="email">电子邮箱</label>
													<div class="controls">
														<input type="text" placeholder="电子邮箱" class="m-wrap span8" name="email" id="email" value="${account.email!}" autocomplete="off"/>
													</div>
												</div>
												<div class="control-group">
													<label class="control-label" for="remarks">个人说明</label>
													<div class="controls">
														<textarea class="span8 m-wrap" rows="3" name="remarks" maxLength="200">${account.remarks!}</textarea>
													</div>
												</div>
												<div class="submit-btn">
													<button type="button" class="btn green" id="submitFrom">保存修改</button>
												</div>
											</form>
										</div>
									</div>
									<div id="tab_2-2" class="tab-pane">
										<div style="height: auto;" id="accordion2-2" class="accordion collapse">
											<form action="updateAccountImage.htm" method="post" enctype="multipart/form-data">
											
												<div class="fileupload fileupload-new" data-provides="fileupload">																										
													<div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
														<img src="${config.imagePath!}${loginUser.image!}" alt="${user.username!}" width="200" height="150"/>
													</div>
													<div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
													<div>
														<span class="btn btn-file"><span class="fileupload-new">选择文件</span>
														<span class="fileupload-exists">修改</span>
														<input type="file" class="default" name="file" id="file"/></span>
														<a href="#" class="btn fileupload-exists" data-dismiss="fileupload">删除</a>
													</div>													
												</div>
												<div class="clearfix"></div>
												<div class="controls">
													<!-- <span class="label label-important">NOTE!</span>
													<span>You can write some information here..</span> -->
												</div>
												<div class="space10"></div>
												<div class="submit-btn">
													<button type="submit" class="btn green">提交</button>
												</div>
											</form>
										</div>
									</div>
									<div id="tab_3-3" class="tab-pane">
										<div style="height: auto;" id="accordion3-3" class="accordion collapse">
											<form action="#">
												<label class="control-label">当前密码</label>
												<input type="password" class="m-wrap span8" name="password" id="password" autocomplete="off"/>
												<label class="control-label">新密码</label>
												<input type="password" class="m-wrap span8" name="newPassword" id="newPassword" autocomplete="off"/>
												<label class="control-label">确认新密码</label>
												<input type="password" class="m-wrap span8" name="reNewPassword" id="reNewPassword" autocomplete="off"/>
												<div class="submit-btn">
													<a href="#" class="btn green">修改密码</a>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="footer-inner">
			${config.inc!}
		</div>
		<div class="footer-tools">
			<span class="go-top">
			<i class="icon-angle-up"></i>
			</span>
		</div>
	</div>
	<a href="#myModal2" role="button" class="btn btn-danger" data-toggle="modal" style="display:none;" id="_alert"></a>
	<div id="myModal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
			<h3 id="myModalLabel2">提示窗</h3>
		</div>
		<div class="modal-body">
			<p>${msg!}</p>
		</div>
		<div class="modal-footer">
			<button data-dismiss="modal" class="btn green">确认</button>
		</div>
	</div>
	<!-- BEGIN CORE PLUGINS -->
	<script src="${config.resourcePath!}/js/jquery-1.10.1.min.js" type="text/javascript"></script>
	<script src="${config.resourcePath!}/js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
	<script src="${config.resourcePath!}/js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>      
	<script src="${config.resourcePath!}/js/bootstrap.min.js" type="text/javascript"></script>
	<!--[if lt IE 9]>
	<script src="${config.resourcePath!}/js/excanvas.min.js"></script>
	<script src="${config.resourcePath!}/js/respond.min.js"></script>  
	<![endif]-->
	<script src="${config.resourcePath!}/js/jquery.slimscroll.min.js" type="text/javascript"></script>
	<script src="${config.resourcePath!}/js/jquery.blockui.min.js" type="text/javascript"></script>  
	<script src="${config.resourcePath!}/js/jquery.cookie.min.js" type="text/javascript"></script>
	<script src="${config.resourcePath!}/js/jquery.uniform.min.js" type="text/javascript" ></script>
		<script src="${config.resourcePath!}/js/jquery.validate.min.js" type="text/javascript"></script>  
	<!-- END CORE PLUGINS -->
	<script type="text/javascript" src="${config.resourcePath!}/js/bootstrap-fileupload.js"></script>
	<script type="text/javascript" src="${config.resourcePath!}/js/chosen.jquery.min.js"></script>
	<script src="${config.resourcePath!}/js/jquery.gritter.js" type="text/javascript"></script>
	
	<script src="${config.resourcePath!}/js/app.js"></script>
	
	<script>
		jQuery(document).ready(function() {       
		   // initiate layout and plugins
		   App.init(); 
		   var msg='${msg!}';
		   if(msg.length>0){
			   $('#_alert').click();
		   }
		   jQuery.validator.addMethod("isMobile", function(value, element) {
			    var length = value.length;
			    var mobile = /^(13[0-9]{9})|(18[0-9]{9})|(14[0-9]{9})|(17[0-9]{9})|(15[0-9]{9})$/;
			    return this.optional(element) || (length == 11 && mobile.test(value));
			}, "请正确填写您的手机号码");
		   
		   $('#persionalInfoFrom').validate({
			   errorElement: 'label', //default input error message container
	           errorClass: 'help-inline', // default input error message class
	           focusInvalid: false, // do not focus the last invalid input
	           ignore: "",
			   rules: {
	                nickname: {
	                    required: true,
	                    rangelength:[2,20]
	                },
	                mobile: {
	                	isMobile:true
	                },
	                email: {
	                    email: true
	                },
	                remarks: {
	                	maxlength:200
	                }
	            },
	            messages: {
	            	nickname:{
 	            		required:'请输入昵称',
 	            		rangelength : '请输入 {0} 到 {1} 长度的呢称.' 	            		
 	            	},
 	            	
 	            	email:{
 	            		email:'请输入正常格式的邮箱'
 	            	},
 	            	remarks: {
 	                    required: "个人说明应该在200字以内."
 	                }
 	            },
 	            highlight: function (element) { // hightlight error inputs
	                $(element)
	                    .closest('.control-group').addClass('error'); // set error class to the control group
	            },
	            success: function (label) {
 	                label.closest('.control-group').removeClass('error');
 	                label.remove();
 	            },
 	            errorPlacement: function (error, element) {
 	                 error.addClass('help-small no-left-padding').insertAfter(element.closest('.input-icon')); 
 	            }
		   });
		   $('#persionalInfoFrom #submitFrom').on('click',function(){
			   if ($('#persionalInfoFrom').validate().form()) {
                   $('#persionalInfoFrom').submit();
                }
		   });
		});
	</script>
</body>
</html>