<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
	<meta charset="utf-8" />
	<title>${title!}</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="${config.description!}" name="description" />
	<meta content="${config.author!}" name="author" />
	<meta content="${config.keyWords!}" name="keyWords" />
	<!-- BEGIN GLOBAL MANDATORY STYLES -->
	<link href="${config.resourcePath!}/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
	<link href="${config.resourcePath!}/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>
	<link href="${config.resourcePath!}/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
	<link href="${config.resourcePath!}/css/style-metro.css" rel="stylesheet" type="text/css"/>
	<link href="${config.resourcePath!}/css/style.css" rel="stylesheet" type="text/css"/>
	<link href="${config.resourcePath!}/css/style-responsive.css" rel="stylesheet" type="text/css"/>
	<link href="${config.resourcePath!}/css/default.css" rel="stylesheet" type="text/css"/>
	<link href="${config.resourcePath!}/css/uniform.default.css" rel="stylesheet" type="text/css"/>
	<!-- END GLOBAL MANDATORY STYLES -->
	<!-- BEGIN PAGE LEVEL STYLES -->
	<link rel="stylesheet" type="text/css" href="${config.resourcePath!}/css/bootstrap-fileupload.css" />
	<link rel="stylesheet" type="text/css" href="${config.resourcePath!}/css/jquery.gritter.css" />
	<link rel="stylesheet" type="text/css" href="${config.resourcePath!}/css/chosen.css" />
	<link rel="stylesheet" type="text/css" href="${config.resourcePath!}/css/select2_metro.css" />
	<link rel="stylesheet" type="text/css" href="${config.resourcePath!}/css/jquery.tagsinput.css" />
	<link rel="stylesheet" type="text/css" href="${config.resourcePath!}/css/clockface.css" />
	<link rel="stylesheet" type="text/css" href="${config.resourcePath!}/css/bootstrap-wysihtml5.css" />
	<link rel="stylesheet" type="text/css" href="${config.resourcePath!}/css/datepicker.css" />
	<link rel="stylesheet" type="text/css" href="${config.resourcePath!}/css/timepicker.css" />
	<link rel="stylesheet" type="text/css" href="${config.resourcePath!}/css/colorpicker.css" />
	<link rel="stylesheet" type="text/css" href="${config.resourcePath!}/css/bootstrap-toggle-buttons.css" />
	<link rel="stylesheet" type="text/css" href="${config.resourcePath!}/css/daterangepicker.css" />
	<link rel="stylesheet" type="text/css" href="${config.resourcePath!}/css/datetimepicker.css" />
	<link rel="stylesheet" type="text/css" href="${config.resourcePath!}/css/multi-select-metro.css" />
	<link href="${config.resourcePath!}/css/bootstrap-modal.css" rel="stylesheet" type="text/css"/>
	<!-- END PAGE LEVEL STYLES -->
	<link rel="shortcut icon" href="${config.resourcePath!}/image/favicon.ico" />
</head>
<body class="page-header-fixed">
	<!-- BEGIN HEADER -->
	<!--:include("/WEB-INF/views/common/header.html"){}  -->
	<div class="page-container row-fluid">
	<!--:include("/WEB-INF/views/common/sidebar_menu.html"){}  -->
	<div class="page-content">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span12">
					<div class="color-panel hidden-phone">
						<div class="color-mode-icons icon-color"></div>
						<div class="color-mode-icons icon-color-close"></div>
						<div class="color-mode">
							<p>THEME COLOR</p>
							
						</div> 
						
					</div>
					<h3 class="page-title">
						系统设置 <small>系统参数</small>
					</h3>
					<ul class="breadcrumb">
					<li>
						<i class="icon-home"></i>
						<a href="index.html">主页</a> 
						<i class="icon-angle-right"></i>
					</li>
					<li>
						<a href="#">系统设置</a>
						<i class="icon-angle-right"></i>
					</li>
					<li><a href="#">系统参数</a></li>
					</ul>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span12">
					<div class="portlet box blue">
						<div class="portlet-title">
							<div class="caption"><i class="icon-reorder"></i>${subTitle!}</div>
							<div class="tools">
								<a href="javascript:;" class="reload"></a>
							</div>
						</div>
						<div class="portlet-body form">
							<form action="#" class="form-horizontal">
								<div class="control-group">
									<label class="control-label">产品名称:</label>
									<div class="controls">
										<input type="text" class="span9 m-wrap" id="title" name="title" value="${commodity.title!}" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">副标题:</label>
									<div class="controls">
										<input type="text" class="span9 m-wrap "  id="subTitle" name="subTitle" value="${commodity.subTitle!}"/>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">型号:</label>
									<div class="controls">
										<input type="text" class="span9 m-wrap "  id="model" name="model" value="${commodity.model!}"/>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">产品内部编号:</label>
									<div class="controls">
										<input type="text" class="span9 m-wrap"  id="item" name="item" value="${commodity.item!}"/>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">推荐价:</label>
									<div class="controls">
										<div class="input-icon left">
											<i class="icon-jpy"></i>
											<input class="span9 m-wrap tooltips" data-trigger="hover" data-original-title="产品出厂推荐价" type="text" id="price" name="price" value="${commodity.price!}"/>
										</div>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">折扣:</label>
									<div class="controls">
										<div class="input-icon left">
											<i class="icon-jpy"></i>
											<input class="span9 m-wrap tooltips" type="text" data-trigger="hover" data-original-title="产品折扣优惠金额,最终价格等于推荐价-折扣价,按照国家规定,该价格上下浮动不能超过原价的20%" id="discount" name="discount" value="${commodity.discount!}"/>
										</div>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">分类:</label>
									<div class="controls">
										<select name="classifyId" id="classifyId" class="span9 select2 search-select">
											<!--:if(!isEmpty(classifyList)){
												for(classify in classifyList){-->
												<option value="${classify.id}">${classify.title}</option>
											<!--:}
											} -->
										</select>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">产品主图:</label>
									<div class="controls">
										<div class="fileupload fileupload-new" data-provides="fileupload">
											<div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
												<!--:if(!isEmpty(commodity.mainPicture)){-->
												<img alt="" src="${config.imagePath}${commodity.mainPicture!}"/>	
												<!--:}  -->
											</div>
											<div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
											<div>
												<span class="btn btn-file"><span class="fileupload-new">选择图片</span>
												<span class="fileupload-exists">修改图片</span>
												<input type="file" class="default" id="file" name="file"/></span>
												<a href="#" class="btn fileupload-exists" data-dismiss="fileupload">删除</a>
											</div>
										</div>
										<span class="label label-important">注意!</span>
										<span>
											图像的缩略图,支持Chrome,Opera,Safari 和 Internet Explorer 10以上的浏览器
										</span>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">功能参数:</label>
									<div class="controls">	
										<textarea class="span9 m-wrap " rows="6" id="functionParamete" name="functionParamete" readonly="readonly">${commodity.functionParamete!}</textarea>			
									</div>
									<div class="controls">
										<a class="btn bigicn-only tooltips" data-placement="bottom" data-original-title="编辑功能参数" href="#function-paramete-modal" data-toggle="modal" onclick="openModal('function');">
										<i class="icon-plus"></i>
											编辑功能参数
										</a>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">规格参数:</label>
									<div class="controls">	
										<textarea class="span9 m-wrap " rows="6" id="specificationParameter" name="specificationParameter" readonly="readonly">${commodity.specificationParameter!}</textarea>			
									</div>
									<div class="controls">
										<a class="btn bigicn-only tooltips" data-placement="bottom" data-original-title="编辑规格参数" href="#function-paramete-modal" data-toggle="modal" onclick="openModal('specification');">
										<i class="icon-plus"></i>
											编辑规格参数
										</a>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">产品描述:</label>
									<div class="controls">
										<textarea class="span9 wysihtml5 m-wrap" rows="6" id="candicine" name="candicine">${commodity.candicine!}</textarea>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">SEO关键字:</label>
									<div class="controls">
										<textarea class="span9 m-wrap tooltips" data-trigger="hover" data-original-title="SEO关键字,用于搜索引擎抓取网站的关键描述." rows="6" id="keywords" name="keywords">${commodity.keywords!}</textarea>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">SEO描述:</label>
									<div class="controls">
										<textarea class="span9 m-wrap tooltips" data-trigger="hover" data-original-title="SEO网站描述,用于搜索引擎抓取网站的关键描述." rows="6"></textarea>
									</div>
								</div>
								<div class="form-actions">
									<button type="submit" class="btn blue">保存</button>
									<button type="button" class="btn">取消</button>                            
								</div>					
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div class="footer">
		<div class="footer-inner">
			${config.inc!}
		</div>
		<div class="footer-tools">
			<span class="go-top">
				<i class="icon-angle-up"></i>
			</span>
		</div>
	</div>
	<div id="function-paramete-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="system-config-label" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
			<h3 id="system-config-label">功能参数新增</h3>
		</div>
		<div class="modal-body">
			<div class="control-group">
				<label class="control-label" id="params_label_name">功能参数:</label>
				<div class="controls">
					<textarea class="span5 m-wrap" rows="6" readonly="readonly" id="functionParamete_key_value"></textarea>
				</div>
			</div>
			<div class="control-group" id="functionParamete_key_div">
				<label class="control-label" for="functionParamete_key">参数名称:</label>
				<div class="controls">
					<input type="text" class="span5 m-wrap" id="functionParamete_key" name="functionParamete_key" value="" maxLength="20" data-provide="typeahead" data-items="4" data-source=""/>
					<span  class="help-inline" id="functionParamete_key_tip"></span>
				</div>
			</div>
			<div class="control-group" id="functionParamete_value_div">
				<label class="control-label">参数值:</label>
				<div class="controls">
					<input type="text" class="span5 m-wrap" id="functionParamete_value" name="functionParamete_value" value="" maxLength="20"/>
					<span  class="help-inline" id="functionParamete_value_tip"></span>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">完成</button>
			<button class="btn yellow" id="paramete-modal-save">保存</button>
		</div>
	</div>
	<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
	<!-- BEGIN CORE PLUGINS -->
	<script src="${config.resourcePath!}/js/jquery-1.10.1.min.js" type="text/javascript"></script>
	<script src="${config.resourcePath!}/js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
	<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
	<script src="${config.resourcePath!}/js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>      
	<script src="${config.resourcePath!}/js/bootstrap.min.js" type="text/javascript"></script>
	<!--[if lt IE 9]>
	<script src="${config.resourcePath!}/js/excanvas.min.js"></script>
	<script src="${config.resourcePath!}/js/respond.min.js"></script>  
	<![endif]-->   
	<script src="${config.resourcePath!}/js/jquery.slimscroll.min.js" type="text/javascript"></script>
	<script src="${config.resourcePath!}/js/jquery.blockui.min.js" type="text/javascript"></script>  
	<script src="${config.resourcePath!}/js/jquery.cookie.min.js" type="text/javascript"></script>
	<script src="${config.resourcePath!}/js/jquery.uniform.min.js" type="text/javascript" ></script>
	<!-- END CORE PLUGINS -->
	<!-- BEGIN PAGE LEVEL PLUGINS -->
<!-- 	<script type="text/javascript" src="${config.resourcePath!}/js/ckeditor.js"></script>   -->

	<script type="text/javascript" src="${config.resourcePath!}/js/bootstrap-fileupload.js"></script>

	<script type="text/javascript" src="${config.resourcePath!}/js/chosen.jquery.min.js"></script>

	<script type="text/javascript" src="${config.resourcePath!}/js/select2.min.js"></script>

	<script type="text/javascript" src="${config.resourcePath!}/js/wysihtml5-0.3.0.js"></script> 

	<script type="text/javascript" src="${config.resourcePath!}/js/bootstrap-wysihtml5.js"></script>

	<script type="text/javascript" src="${config.resourcePath!}/js/jquery.tagsinput.min.js"></script>

	<script type="text/javascript" src="${config.resourcePath!}/js/jquery.toggle.buttons.js"></script>

	<script type="text/javascript" src="${config.resourcePath!}/js/bootstrap-datepicker.js"></script>

	<script type="text/javascript" src="${config.resourcePath!}/js/bootstrap-datetimepicker.js"></script>

	<script type="text/javascript" src="${config.resourcePath!}/js/clockface.js"></script>

	<script type="text/javascript" src="${config.resourcePath!}/js/date.js"></script>

	<script type="text/javascript" src="${config.resourcePath!}/js/daterangepicker.js"></script> 

	<script type="text/javascript" src="${config.resourcePath!}/js/bootstrap-colorpicker.js"></script>  

	<script type="text/javascript" src="${config.resourcePath!}/js/bootstrap-timepicker.js"></script>

	<script type="text/javascript" src="${config.resourcePath!}/js/jquery.inputmask.bundle.min.js"></script>   

	<script type="text/javascript" src="${config.resourcePath!}/js/jquery.input-ip-address-control-1.0.min.js"></script>

	<script type="text/javascript" src="${config.resourcePath!}/js/jquery.multi-select.js"></script>   

	<script src="${config.resourcePath!}/js/bootstrap-modal.js" type="text/javascript" ></script>

	<script src="${config.resourcePath!}/js/bootstrap-modalmanager.js" type="text/javascript" ></script> 
	<!-- END PAGE LEVEL PLUGINS -->
	<!-- BEGIN PAGE LEVEL SCRIPTS -->
	<script src="${config.resourcePath!}/js/app.js"></script>
	<script src="${config.resourcePath!}/js/form-components.js"></script>         
	<!-- END PAGE LEVEL SCRIPTS -->
	<script>
		jQuery(document).ready(function() {       
		   // initiate layout and plugins
		   App.init();
		   FormComponents.init();
		   $('#function-paramete-modal #functionParamete_key').bind('input propertychange', function() {
			   $('#functionParamete_key_div').removeClass('error');
			   $('#functionParamete_key_tip').html('');
			}); 
		   $('#function-paramete-modal #functionParamete_value').bind('input propertychange', function() {  
			   $('#functionParamete_value_div').removeClass('error');
			   $('#functionParamete_value_tip').html('');
			});
		   initData();
		});
		
		function initData(){
			$.ajax({
				url:'specList.htm',
				type:'GET',
				dataType:'json',
				success:function(msg){
					var functionParamete=new Array();
					$.each(msg,function(i,v){
						var type=v.type;
						var firstWord=v.firstWord;
						var title=v.title;
						functionParamete[i]=firstWord+'-'+title;
					})
					$('#function-paramete-modal #functionParamete_key').typeahead({
						source: function(query, process) {
							return functionParamete;
						},
						highlighter: function (item) {
							return item;	
						},
						 updater: function (item) {
							 var arr=item.split('-');
							 if(arr.length>1){
								 item=item.substring(arr[0].length+1,item.length);
							 }
							 return item;
						 }
					});	
				}
			});	
		}
		
		function openModal(type){
			var kvI=$('#function-paramete-modal #functionParamete_key_value');
			var keyI=$('#function-paramete-modal #functionParamete_key');
			var valueI=$('#function-paramete-modal #functionParamete_value');
			keyI.val('');
			valueI.val('');
			//功能参数
			if(type=='function'){
				$('#system-config-label').html('功能参数新增');
				$('#params_label_name').html('功能参数');
				$('#paramete-modal-save').unbind("click");
				//初始化参数 
				kvI.val($('#functionParamete').val());			
				$('#paramete-modal-save').bind('click',function(){
					functionParameteSave('functionParamete');
				});
				
			}else if(type=='specification'){
				$('#system-config-label').html('规格参数新增');
				$('#params_label_name').html('规格参数');
				$('#paramete-modal-save').unbind("click");
				//初始化参数
				kvI.val($('#specificationParameter').val());
				
				$('#paramete-modal-save').bind('click',function(){
					functionParameteSave('specificationParameter');
				});
			}
		}
		
		function functionParameteSave(id){
			//特殊字符
			var sc=[',',':','{','}','[',']','，','：','-'];
			var keyI=$('#function-paramete-modal #functionParamete_key');
			var valueI=$('#function-paramete-modal #functionParamete_value');
			var kvI=$('#function-paramete-modal #functionParamete_key_value');
			var key=keyI.val();
			var value=valueI.val();
			var kv=kvI.val();
			if(key.length<1){
				$('#functionParamete_key_div').addClass('error');
				$('#functionParamete_key_tip').html('请输入key值');
				return;
			}
			
			if(value.length<1){
				$('#functionParamete_value_div').addClass('error');
				$('#functionParamete_value_tip').html('请输入值');
				return;
			}
			var kf=false;
			var vf=false;
			$.each(sc,function(i,v){	
				if(key.indexOf(v)>0){
					kf=true;
					return false;
				}
				if(value.indexOf(v)>0){
					vf=true;
					return false;
				}
			})
			if(kf){
				$('#functionParamete_key_div').addClass('error');
				$('#functionParamete_key_tip').html('key值包含有特殊字符');
				return;
			}
			if(vf){
				$('#functionParamete_value_div').addClass('error');
				$('#functionParamete_value_tip').html('值包含有特殊字符');
				return;
			}
			//key值是唯一的
			var flag=false;
			if(kv.length>0){
				kv=kv.substring(1,kv.length-1);
				var arr=kv.split(',');		
				$.each(arr,function(i,v){
					var arr1=v.split(':');
					var a1=arr1[0];
					if(key==a1){
						flag=true;
						return false;
					}
				});
			}
			
			if(flag){
				//key重复
				$('#functionParamete_key_div').addClass('error');
				$('#functionParamete_key_tip').html('key值重复');
				return;
			}
			var v=key+':'+value;
			if(kv.length>0){	
				kvI.val('{'+kv+','+v+'}');
			}else{
				kvI.val('{'+v+'}');
			}
			keyI.val('');
			valueI.val('');
			console.log(id);
			$('#'+id).val(kvI.val());
		}
	</script>

	<!-- END JAVASCRIPTS -->
</body>
</html>