<div class="page-sidebar nav-collapse collapse">
	<ul class="page-sidebar-menu">
		<li>
			<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
			<div class="sidebar-toggler hidden-phone"></div>
			<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
		</li>
		<li class="start active ">
			<a href="javascript:;">
				<i class="icon-gift"></i> 
				<span class="title">用户管理</span>
				<span class="selected"></span>
				<span class="arrow open"></span>
			</a>
			<ul class="sub-menu">
				<li class="active">
					<a href="extra_profile.html">个人资料</a>
				</li>
				<li class="">
					<a href="product/commodity.htm">产品列表</a>
				</li>
			</ul>
		</li>
	</ul>
</div>