<div class="page-sidebar nav-collapse collapse">
	<ul class="page-sidebar-menu">
		<li>
			<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
			<div class="sidebar-toggler hidden-phone"></div>
			<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
		</li>
		<li class="start active ">
			<a href="javascript:;">
				<i class="icon-gift"></i> 
				<span class="title">用户管理</span>
				<span class="selected"></span>
				<span class="arrow open"></span>
			</a>
			<ul class="sub-menu">
				<li class="active">
					<a href="${config.contextPath!}/admin/index.htm">个人资料</a>
				</li>				
			</ul>
		</li>
		<li>
			<a href="javascript:;">
				<i class="icon-gift"></i> 
				<span class="title">产品管理</span>
				<span class="selected"></span>
				<span class="arrow"></span>
			</a>
			<ul class="sub-menu">
				<li class="">
					<a href="${config.contextPath!}/admin/product/commodity.htm" title="产品列表">产品列表</a>
				</li>
				<li class="">
					<a href="${config.contextPath!}/admin/product/addCommoditView.htm" title="添加产品">添加产品</a>
				</li>
				<li class="">
					<a href="${config.contextPath!}/admin/product/classify.htm" title="分类列表">分类列表</a>
				</li>
				<li class="">
					<a href="${config.contextPath!}/admin/product/addClassifyView.htm" title="添加分类">添加分类</a>
				</li>
			</ul>
		</li>
	</ul>
</div>